@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

:root {
    --squaresPerSide: 16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 4px solid purple; */
    font-family: Acme, Arial, sans-serif;
    background-color: rgb(17 24 39);
    color: rgb(229, 231, 235);
    height: 100vh;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    border: 5px solid #ff0080;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: #ccc;
}

.gridItem {
    width: calc( ( 1 / var(--squaresPerSide) ) * 100% );
    height: calc( ( 1 / var(--squaresPerSide) ) * 100% );
    box-sizing: border-box;
}

.active {
    background-color: black;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 2rem;
}


/* Preprepared buttons, reference: getcssscan.com */
.btn-1 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-1:not(:disabled):hover,
.btn-1:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn-1:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

/*Custom btn-1 styles*/
.btn-1 {
    margin: 0.5rem 0;
}
